.choices__item[data-value='tintoretto'] {
  background-image: url('../img/tintoretto.png')
}

.choices__item[data-value='friedrich'] {
  background-image: url('../img/friedrich.png')
}

.choices__item[data-value='leonardo'] {
  background-image: url('../img/leonardo.png')
}

.choices__item[data-value='verrocchio'] {
  background-image: url('../img/verrocchio.png')
}

.choices__item[data-value='sisley'] {
  background-image: url('../img/sisley.png')
}

.choices__item[data-value='mane'] {
  background-image: url('../img/mane.png')
}

.choices__item[data-value='renuar'] {
  background-image: url('../img/renuar.png')
}

.choices__item[data-value='mone'] {
  background-image: url('../img/mone.png')
}

.choices__item[data-value='vangog'] {
  background-image: url('../img/vangog.png')
}

.choices__item[data-value='sezann'] {
  background-image: url('../img/sezann.png')
}

.choices__item[data-value='gogen'] {
  background-image: url('../img/gogen.png')
}

.choices__item[data-value='sera'] {
  background-image: url('../img/sera.png')
}

.choices__item[data-value='kandinsky'] {
  background-image: url('../img/kandinsky.png')
}

.choices__item[data-value='marinetti'] {
  background-image: url('../img/marinetti.png')
}

.choices__item[data-value='malevich'] {
  background-image: url('../img/malevich.png')
}

.choices__item[data-value='picasso'] {
  background-image: url('../img/picasso.png')
}

.choices__item[data-value='carra'] {
  background-image: url('../img/carra.png')
}

.choices__item[data-value='pratella'] {
  background-image: url('../img/pratella.png')
}

.choices__item[data-value='severini'] {
  background-image: url('../img/severini.png')
}

.choices__item[data-value='balla'] {
  background-image: url('../img/balla.png')
}
