@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans Regular'), local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans Italic'), local('OpenSans-Italic'),
    url('../fonts/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/OpenSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans Bold'), local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --gap: 50px;
  --green: #30BF39;
  --blue: #26A5E4;
  --red: #D11616;
  --white-violet: #D1A9F0;
  --light-violet: #C283F3;
  --violet: #9D5CD0;
  --dark-violet: #7943A4;
  --white: #FFF;
  --white-gray: #ECECEC;
  --light-gray: #CACACA;
  --gray: #999;
  --dark-gray: #666;
  --black-gray: #333333;
  --black: #000;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*:focus-visible {
  outline: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1920px;
  padding: 0 160px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stop-scroll {
  overflow: hidden;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  border-radius: 100px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black-gray);
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--black-gray);
}

.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--black-gray);
}

.header-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

/* header */

.header {
  position: relative;
}

.burger,
.header__form,
.btn-closed {
  display: none;
}

.header__top {
  background: var(--black);
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__wrapper {
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  margin-right: 179px;
}

.header__nav {
  margin-right: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__item {
  font-weight: 600;
}

.header__item:not(:last-child) {
  margin-right: 62px;
}

.header__link,
.header__login {
  position: relative;
  z-index: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header__link:before,
.header__login:before {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -6px;
  right: -6px;
  background-color: var(--dark-violet);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.header__link:focus-visible:before,
.header__login:focus-visible:before {
  opacity: 1;
}

.header__link:hover:not(:focus-visible),
.header__login:hover:not(:focus-visible),
.header__login:hover svg path {
  color: var(--light-violet);
  fill: var(--light-violet);
}

.header__link:active:not(:focus-visible),
.header__login:active:not(:focus-visible),
.header__login:active svg path {
  color: var(--dark-violet);
  fill: var(--dark-violet);
}

.header__bottom {
  position: absolute;
  padding-top: 23px;
  padding-bottom: 20px;
  bottom: -71px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.dropdown {
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  padding: 40px 20px 40px 40px;
  position: absolute;
  top: 107%;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility .2s ease-in-out, opacity .2s ease-in-out;
  transition: visibility .2s ease-in-out, opacity .2s ease-in-out;
}

.dropdown.dropdown__active {
  visibility: visible;
  opacity: 1;
}

.dropdown__simplebar {
  height: 240px;
  padding-right: 20px;
}

.dropdown__item {
  position: relative;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dropdown__link:focus::after,
.dropdown__link:hover::after {
  border: 2px solid var(--violet);
}

.dropdown__link:active::after {
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(194, 131, 243, 0.4)), to(rgba(194, 131, 243, 0.4))), url(.jpg);
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4)), url(.jpg);
}

.dropdown__simplebar .simplebar-track.simplebar-vertical {
  background-color: var(--black);
  width: 2px;
}

.dropdown__simplebar .simplebar-scrollbar {
  width: 2px;
  background-color: var(--white);
}

.menu__item {
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 96px;
}

.menu {
  margin-right: auto;
}

.menu__btn {
  position: relative;
  z-index: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.menu__btn:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -6px;
  right: -6px;
  background-color: var(--dark-violet);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.menu__btn:focus-visible:before {
  opacity: 1;
}

.menu__btn:hover:not(:focus-visible),
.menu__btn:hover svg path {
  color: var(--light-violet);
  stroke: var(--light-violet);
}

.menu__btn:active:not(:focus-visible),
.menu__btn:active svg path {
  color: var(--dark-violet);
  stroke: var(--dark-violet);
}

.menu__btn--open svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.header__search {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  min-width: 218px;
  border-bottom: 1px solid var(--white);
}

.header__search::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  opacity: .85;
}

.header__search::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  opacity: .85;
}

.header__search:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  opacity: .85;
}

.header__search::-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  opacity: .85;
}

.header__search::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  opacity: .85;
}

.header__search:focus {
  border-color: var(--dark-violet);
}

.header__search:hover,
.header__search:active {
  border-color: var(--light-violet);
}

.search-btn {
  -webkit-transform: translate(-6px, 7px);
  transform: translate(-6px, 7px);
}

/* main */

.hero {
  position: relative;
  margin-bottom: 79px;
}

.hero__container {
  position: relative;
  padding-top: 133px;
  padding-bottom: 144px;
  z-index: 2;
}

.hero .hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.hero__slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin: 0;
  max-width: 579px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  color: var(--white);
}

.hero__text {
  margin: 0;
  max-width: 579px;
  margin-bottom: 113px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--white);
}

.hero__btn {
  position: relative;
  padding: 22px 35px;
  font-weight: 700;
  background-color: var(--violet);
  z-index: 1;
}

.hero__btn::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border: 2px solid var(--light-violet);
  border-radius: 100px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.hero__btn:focus-visible:before {
  opacity: 1;
}

.hero__btn:hover:not(:focus-visible) {
  border: 3px solid var(--white-violet);
}

.hero__btn:active:not(:focus-visible) {
  background-color: var(--dark-violet);
}

.hero__slide:nth-child(1) {
  background-image: url('../img/hero-bg-1.png');
}

.hero__slide:nth-child(2) {
  background-image: url('../img/hero-bg-2.png');
}

.hero__slide:nth-child(3) {
  background-image: url('../img/hero-bg-3.png');
}

.about {
  padding-bottom: 70px;
}

.about__title {
  margin: 0;
  margin-bottom: 16px;
}

.about__descr {
  margin: 0;
  max-width: 1080px;
}

.galery {
  padding-top: 80px;
  padding-bottom: 81px;
  margin-bottom: 80px;
  background: url('../img/galery-bg.png') no-repeat center / cover;
}

.galery__img,
.events__img {
  position: relative;
  z-index: 1;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.galery-1 {
  background-image: url('../img/galery-slide-1.png');
}

.galery-2 {
  background-image: url('../img/galery-slide-2.png');
}

.galery-3 {
  background-image: url('../img/galery-slide-3.png');
}

.galery-4 {
  background-image: url('../img/galery-slide-4.png');
}

.galery-5 {
  background-image: url('../img/galery-slide-5.png');
}

.galery-6 {
  background-image: url('../img/galery-slide-6.png');
}

.galery__title {
  margin: 0;
  margin-bottom: 16px;
  color: var(--white);
}

.galery__content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 50px;
}

.galery__filter {
  margin-bottom: 10px;
  font-weight: 600;
  color: var(--white);
}

.choices {
  min-width: 400px;
  margin-bottom: 176px;
}

.choices__item {
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
  opacity: 1;
}

.choices__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 16px;
  background: transparent;
  border: 1px solid var(--white);
  border-radius: 6px;
  min-height: 39px;
}

.choices__inner:hover {
  background: rgba(255, 255, 255, 0.2);
}

.choices__list--single {
  padding: 0 16px 0 0;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
}

.choices[data-type*=select-one]::after {
  height: 10px;
  width: 8px;
  border: none;
  background: url('../img/select-closed.svg') no-repeat top center / contain;
}

.choices[data-type*=select-one].is-open::after {
  background: url('../img/select-open.svg') no-repeat bottom center / contain;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}

.is-open .choices__inner {
  border: 1px solid var(--white);
  border-radius: 6px;
}

.is-open .choices__list--dropdown,
.choices__list[aria-expanded] {
  border-radius: 6px;
  background-color: transparent;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border-color: var(--white);
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  padding: 4px 16px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
}

.galery__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.galery__checkbox label {
  position: relative;
  cursor: pointer;
  padding-left: 23px;
}

.galery__input {
  display: none;
}

.galery__label {
  color: var(--white);
}

.galery__input+span {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 1px solid var(--white);
}

.galery__input+span::before {
  content: "●";
  position: absolute;
  top: -50%;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
  color: var(--violet);
}

.galery__input:checked+span {
  border-color: var(--violet);
}

.galery__input:checked+span::before {
  opacity: 1;
}

.galery__label:hover span {
  border-color: var(--violet);
}

.galery__label:active {
  color: var(--violet);
}

.galery__slider {
  width: 1147px;
  height: 100%;
  -webkit-transform: translateY(24px);
  transform: translateY(24px);
}

.galery__swiper {
  overflow: hidden;
  width: inherit;
  height: 408px;
}

.galery__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 350px;
}

.galery-button-next,
.galery-button-prev {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  top: 45%;
  z-index: 999;
  height: 30px;
  width: 30px;
}

.galery__arrow:focus svg {
  border: 2px solid var(--black);
  border-radius: 100px;
}

.galery__arrow:hover:not(:focus-visible) svg {
  fill: var(--violet);
}

.galery__arrow:active:not(:focus-visible) svg {
  fill: var(--dark-violet);
}

.galery__nav {
  margin-bottom: 30px;
}

.galery__slide {
  cursor: pointer;
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  z-index: 1;
}

.galery__slide::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 20px 25px 30px 25px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url('../img/modal-lens.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 81px 79px;
  z-index: 100;
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.galery__img::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(194, 131, 243, 0.4)), to(rgba(194, 131, 243, 0.4)));
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
  z-index: 10;
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.galery__slide:focus {
  border: 3px solid var(--dark-violet);
}

.galery__slide:hover::before {
  opacity: 1;
}

.galery__slide:active {
  border: none;
}

.galery__slide:active::before,
.galery__slide:active .galery__img::before {
  opacity: 1;
}

.galery__counter {
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 73px;
  bottom: 0;
  font-size: 16px;
  line-height: 32px;
  color: var(--white);
}

.modal {
  position: fixed;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s, visibility .3s;
  transition: opacity .3s, visibility .3s;
}

.modal__wrapper {
  position: relative;
  padding: 121px 50px 173px 450px;
  margin: 50px;
  background-color: var(--white);
  background-image: url('../img/modal.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  -webkit-box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
}

.modal__title {
  margin: 0;
  margin-bottom: 5px;
}

.modal__subtitle {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--black-gray);
}

.modal__date {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray);
  margin-bottom: 40px;
}

.modal__text {
  margin: 0;
  max-width: 401px;
}

.modal__btn {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 20px;
  right: 20px;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal__wrapper {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.swiper-pagination-current {
  margin-right: 2px;
}

.swiper-pagination-total {
  margin-left: 4px;
}

.catalog {
  margin-bottom: 83px;
}

.catalog__title {
  margin: 0;
  margin-bottom: 16px;
}

.catalog__text {
  margin: 0;
  margin-bottom: 38px;
  max-width: 1080px;
}

.catalog__content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.artist {
  width: 50%;
  padding-right: 50px;
}

.artist__card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;
}

.artists__item {
  width: 197px;
}

.artist__card--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.artist__img {
  margin-bottom: 32px;
}

.artist__name {
  margin: 0;
  margin-bottom: 8px;
}

.artist__life {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 16px;
  color: var(--gray);
}

.artist__descr {
  margin: 0;
}

.catalog__list {
  width: 50%;
}

.artists {
  height: 288px;
  margin: 26px 0;
  padding-right: 58px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.artists__btn {
  position: relative;
  line-height: 32px;
  z-index: 1;
}

.artists__btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  left: -2px;
  background-color: var(--violet);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.artists__btn:focus-visible:before {
  opacity: 1;
}

.artists__btn:hover:not(:focus-visible) {
  border-bottom: 1px solid var(--violet);
}

.artists__btn:active:not(:focus-visible) {
  border: none;
}

.catalog__date {
  position: relative;
  margin: 0;
  z-index: 1;
}

.catalog__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

.catalog__button {
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 34px 0 31px;
}

.catalog__button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--white-gray);
  border-bottom: 1px solid var(--white-gray);
  border-collapse: collapse;
}

.catalog__date::before {
  content: "";
  position: absolute;
  top: 0;
  right: -7px;
  bottom: 0;
  left: -2px;
  background-color: var(--violet);
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
  z-index: -1;
}

.catalog__button:focus svg path,
.catalog__button:focus .catalog__date,
.catalog__button:focus .catalog__date::before {
  fill: var(--white-violet);
  color: var(--white);
  opacity: 1;
}

.catalog__button:hover .catalog__date,
.catalog__button:hover .catalog__date::before,
.catalog__button:hover svg path,
.catalog__button:hover::after {
  color: var(--violet);
  background-color: transparent;
  border-color: var(--violet);
  fill: var(--white-violet);
}

.catalog__button:active svg {
  border: 2px solid var(--violet);
  border-radius: 100px;
}

.catalog__button:active .catalog__date {
  color: var(--dark-violet);
}

.catalog__button:active:after {
  border-color: var(--dark-violet);
}

.accordion__content {
  width: 100%;
  overflow: hidden;
  visibility: hidden;
  -webkit-transition-property: height, visibility, margin-bottom, display;
  transition-property: height, visibility, margin-bottom, display;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.accordion__empty {
  padding: 12px;
  margin: 25px 24px 25px 0;
  border: 2px solid var(--gray);
}

.empty {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 5px;
}

.empty__descr {
  margin: 0;
  margin-bottom: 5px;
  line-height: 22px;
}

.empty__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--violet);
}

.accordion--active .accordion__content {
  visibility: visible;
}

.accordion__text {
  margin: 0;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.accordion--active .accordion__control svg {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.events {
  margin-bottom: 80px;
}

.events__slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.events__slider .swiper-button-disabled {
  display: none;
}

.events__swiper {
  overflow: hidden;
  width: inherit;
  height: 100%;
}

.events__wrapper {
  width: 100%;
  height: 100%;
}

.events-button-next,
.events-button-prev {
  position: absolute;
  top: 46%;
  z-index: 999;
  height: 50px;
  width: 50px;
}

.events-button-next {
  right: -25px;
}

.events-button-prev {
  left: -25px;
}

.events__slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.events__img {
  height: 300px;
}

.events-1 {
  background-image: url('../img/events-engraving.png');
}

.events-2 {
  background-image: url('../img/events-petrov-iliin.png');
}

.events-3 {
  background-image: url('../img/events-formation2020.png');
}

.events-4 {
  background-image: url('../img/events-metaphor.png');
}

.events-5 {
  background-image: url('../img/events-biennale.png');
}

.events__title {
  margin: 0;
  margin-bottom: 15px;
}

.events__date {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--light-gray);
}

.events__text {
  padding: 13px 49px 38px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 398px;
  border: 1px solid var(--light-gray);
  border-top: none;
}

.events-pagination {
  display: none;
}

.events__subtitle {
  margin: 0;
  margin-bottom: 10px;
}

.events__descr {
  margin: 0;
  margin-bottom: auto;
}

.events__link {
  padding-bottom: 3px;
  position: relative;
  z-index: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  color: var(--violet);
  border-bottom: 1px solid var(--violet);
}

.events__link:focus {
  color: var(--white);
  border-color: var(--white);
}

.events__link:hover:not(:focus-visible) {
  color: var(--light-violet);
  border-color: var(--light-violet);
}

.events__link:active:not(:focus-visible) {
  color: var(--black-gray);
  border-color: var(--black-gray);
}

.projects {
  margin-bottom: 79px;
}

.projects__title {
  margin: 0;
  margin-bottom: 18px;
}

.projects__descr {
  margin: 0;
  margin-bottom: 20px;
  max-width: 1080px;
}

.projects__link {
  position: relative;
  z-index: 1;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  color: var(--violet);
}

.projects__link::before,
.events__link::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background-color: var(--violet);
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.projects__link:focus-visible:before,
.events__link:focus-visible:before {
  opacity: 1;
}

.projects__link:focus {
  color: var(--white);
}

.projects__link:hover:not(:focus-visible) {
  color: var(--light-violet);
  border-bottom: 1px solid var(--light-violet);
}

.projects__link:active:not(:focus-visible) {
  color: var(--dark-violet);
  border-color: var(--dark-violet);
}

.projects__tooltip {
  position: relative;
  display: inline;
}

.projects__tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  bottom: calc(100% - 3px);
  right: 50%;
  -webkit-transform: translateX(calc(50% - 3px));
  transform: translateX(calc(50% - 3px));
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
  opacity: 0;
  visibility: hidden;
}

.projects__text {
  position: absolute;
  padding: 10px;
  min-width: 250px;
  bottom: calc(100% + 5px);
  right: 50%;
  -webkit-transform: translateX(calc(50% - 3px));
  transform: translateX(calc(50% - 3px));
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
}

.projects__tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}

.projects__tooltip:hover .projects__text {
  opacity: 1;
  visibility: visible;
}

.projects__btn {
  -webkit-transform: translate(-1px, 2px);
  transform: translate(-1px, 2px);
}

.projects__btn:focus svg {
  fill: var(--white-violet);
}

.projects__btn:hover svg {
  fill: var(--white-violet);
}

.projects__btn:active svg {
  fill: var(--violet);
}

.projects__btn:active svg path:nth-child(2) {
  fill: var(--white);
}

.projects__subtitle {
  margin: 0;
  margin-bottom: 23px;
}

.projects__slide {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border: 1px solid var(--white-gray);
  cursor: pointer;
}

.projects__img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.projects__img:focus {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.projects__slide:hover {
  border-color: var(--violet);
}

.projects__img:active {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  border-color: var(--violet);
}

.projects__slider {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 75px;
}

.projects__swiper {
  width: inherit;
  height: 100%;
  overflow: hidden;
}

.projects__wrapper {
  width: 100%;
  height: 100%;
}

.projects-button-next,
.projects-button-prev {
  position: absolute;
  top: 40%;
  z-index: 999;
  height: 30px;
  width: 30px;
}

.projects-button-next {
  right: 0;
}

.projects-button-prev {
  left: 0;
}

.btn-effects:focus svg {
  border: 2px solid var(--violet);
  border-radius: 100px;
}

.btn-effects:hover svg {
  fill: var(--white-violet);
}

.swiper-button-disabled svg path:nth-child(3) {
  stroke: var(--light-gray);
}

.contacts__container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 35px;
}

.form {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.input {
  padding: 9px 24px;
  width: 100%;
  border: 1px solid var(--black-gray);
  border-radius: 100px;
  cursor: pointer;
}

.input:focus {
  background-color: var(--white-gray);
}

.input:hover {
  background-color: var(--white-gray);
}

.contacts__wrapper {
  border: 1px solid var(--white-gray);
}

.contacts__subtitle {
  margin: 0;
  margin-bottom: 6px;
}

.contacts__address {
  font-style: normal;
}

.contacts__btn {
  position: relative;
  padding: 12px 35px;
  color: var(--violet);
  border: 2px solid var(--violet);
  z-index: 1;
}

.contacts__btn::before {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border: 2px solid var(--light-violet);
  border-radius: 100px;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out;
  transition: opacity .4s ease-in-out;
}

.contacts__btn:focus-visible:before {
  opacity: 1;
}

.contacts__btn:hover:not(:focus-visible) {
  background-color: var(--violet);
  color: var(--white);
}

.contacts__btn:active:not(:focus-visible) {
  background-color: var(--dark-violet);
  border-width: 3px;
  border-color: var(--white-violet);
}

.contacts__item:not(:last-child) {
  margin-right: 20px;
}

.contacts__item:focus a svg {
  opacity: 0.5;
}

.contacts__item:hover a svg {
  opacity: 0.5;
}

.contacts__item:active a svg {
  opacity: 1;
  border: 1px solid var(--violet);
  border-radius: 100px;
}

.form-wrapper {
  position: relative;
  width: 270px;
  margin-right: 20px;
}

.just-validate-error-label {
  position: absolute;
  top: -18px;
  left: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.just-validate-error-field {
  border-color: var(--red);
}

.map {
  width: 100%;
  height: 700px;
}

.ymaps-2-1-79-ground-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.ymaps-2-1-79-controls__toolbar_left {
  display: none;
}

.ymaps-2-1-79-controls__toolbar_right {
  display: none;
}

.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.footer {
  background-color: var(--black);
}

.footer__container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 47px;
  padding-bottom: 50px;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.footer__item:focus a svg path {
  fill: var(--white);
}

.footer__item:hover a svg path {
  fill: var(--white);
}

.footer__item:active a svg path {
  fill: var(--violet);
}
