@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans Regular'), local('OpenSans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans Italic'), local('OpenSans-Italic'),
    url('../fonts/OpenSans-Italic.woff2') format('woff2'),
    url('../fonts/OpenSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('OpenSans Bold'), local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

:root {
  --gap: 50px;
  --green: #30BF39;
  --blue: #26A5E4;
  --white-violet: #D1A9F0;
  --light-violet: #C283F3;
  --violet: #9D5CD0;
  --dark-violet: #7943A4;
  --white: #FFF;
  --white-gray: #ECECEC;
  --light-gray: #CACACA;
  --gray: #999;
  --dark-gray: #666;
  --black-gray: #333333;
  --black: #000;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: 320px;
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1920px;
  padding: 0 160px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  border-radius: 100px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--black-gray);
}

.title {
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--black-gray);
}

.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--black-gray);
}

.header-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
}

/* header */

.header {
  position: relative;
}

.header__top {
  background: var(--black);
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__wrapper {
  align-items: center;
}

.header__logo {
  margin-right: 179px;
}

.header__nav {
  margin-right: auto;
  align-items: center;
}

.header__item {
  font-weight: 600;
}

.header__item:not(:last-child) {
  margin-right: 62px;
}

.header__login {
  padding-left: 20px;
  background: url('../img/header-login.svg') no-repeat left center;
}

.header__bottom {
  position: absolute;
  padding-top: 24px;
  padding-bottom: 20px;
  bottom: -69px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.header__select-list {
  margin-right: auto;
}

.header__select-item:not(:last-child) {
  margin-right: 89px;
}

.choices__inner {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 92px;
  padding: 0;
  background: inherit;
  border: none;
  font-weight: 400;
  min-height: 19px;
  font-size: 18px;
  line-height: 25px;
  color: var(--white);
  z-index: 100;
}

.choices[data-type*=select-one] .choices__inner {
  padding-bottom: 0;
  padding-right: 24px;
}

.choices__list--single {
  padding: 0;
}

.choices[data-type*=select-one]::after {
  height: 7px;
  width: 11px;
  border: none;
  background: url('../img/select-closed.svg') no-repeat top center / contain;
  z-index: 100;
}

.choices[data-type*=select-one].is-open::after {
  background: url('../img/select-open.svg') no-repeat bottom center / contain;
  transform: translateY(5px);
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  transform: translateY(21px);
  min-width: 300px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  padding: 10px 10px 10px 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--white);
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable:not(:last-child) {
  margin-bottom: 20px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: inherit;
}

.choices__item--disabled {
  display: none;
}

.simplebar-track.simplebar-vertical {
  top: 7px;
  right: 6px;
  width: 6px;
}

.simplebar-scrollbar:before {
  top: 0;
  left: 0;
  margin-bottom: 100px;
  width: 6px;
  background: #CCB26E;
  border-radius: 5px;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}
