@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* -------- */

:root {
  --gap: 32px;
  --light-green: #97EE3F;
  --light-orange: #FFB84D;
  --orange: #FF9900;
  --dark-orange: #E1670E;
  --white: #FFF;
  --white-gray: #cacaca;
  --light-gray: rgba(0, 0, 0, 0.5);
  --gray: #666;
  --dark-gray: #414141;
  --black: #000;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn {
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--white);
}

/* ----header---- */

.header {
  margin-bottom: 50px;
  padding: 14px 0;
  background: #FFFFFF;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
}

.header__container {
  align-items: center;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 260px;
}

.header__item:not(:last-child) {
  margin-right: 85px;
}

.header__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--black);
  transition: color 0.2s ease-in-out, outline 0.2s ease-in-out;
}

.header__link:focus {
  outline: 2px solid var(--orange);
  outline-offset: 5px;
}

.header__link:active {
  outline: none;
  color: var(--dark-orange);
}

.header__link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: var(--orange);
}

.header__link:active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  width: 100%;
  height: 2px;
  background-color: var(--dark-orange);
}

.header__btn:focus {
  outline: 2px solid var(--orange);
  outline-offset: 2px;
}

.header__btn:hover rect {
  fill: var(--orange);
  stroke: var(--orange);
}

.header__btn:hover path {
  stroke: var(--orange);
}

.header__btn:active {
  outline: none;
}

.header__btn:active rect {
  fill: var(--orange);
  stroke: var(--orange);
}

.header__btn:active path {
  stroke: var(--orange);
}


.header__search {
  position: relative;
  width: 22px;
  height: 22px;
  z-index: 10000;
}

.header__btn {
  position: absolute;
  top: 0;
  right: 0;
}

.header__exit {
  position: absolute;
  top: 0;
  right: -35px;
  display: none;
}

.header__exit--active {
  display: block;
}

.header__input {
  position: absolute;
  top: -80%;
  right: -45px;
  height: 60px;
  width: 539px;
  padding: 16px 95px 16px 32px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  border: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.header__input--active {
  opacity: 1;
  visibility: visible;
}

.header__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: var(--white-gray);
  width: 100%;
  border-bottom: 1px solid #cacaca;
  padding-bottom: 5px;
}

.burger {
  display: none;
}

/* ----main---- */

.main__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 100px 853px 100px 80px;
  border-radius: 32px;
  overflow: hidden;
  z-index: 100;
}

.main__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--white);
}

.main__descr {
  margin: 0;
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--white);
}

.main__btn {
  padding: 25px 39px;
  font-size: 23px;
  line-height: 28px;
  background-color: var(--orange);
}

.main__btn:focus {
  background-color: var(--light-orange);
}

.main__btn:hover {
  background-color: var(--light-orange);
}

.main__btn:active {
  background-color: var(--dark-orange);
}

.swiper {
  margin-bottom: 50px;
  border-radius: 32px;
}

.swiper-wrapper {
  width: 100%;
  height: inherit;
}

.swiper-slide {
  width: inherit;
  height: inherit;
}

.swiper-lazy {
  width: 100%;
  min-height: 620px;
  background-size: cover;
  background-position: center;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  z-index: 1000;
  -webkit-transform: translateY(-18px);
  transform: translateY(-18px);
}

.swiper-pagination-bullets .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  background-color: #cacaca;
  opacity: 1;
}

.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: white;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
  margin-right: 15px;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--black);
}

.about__title {
  margin-bottom: 20px;
}

.descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.about__descr {
  max-width: 1235px;
  margin-bottom: 50px;
  color: var(--black);
}

.wrapper {
  justify-content: space-between;
}

.block {
  width: calc((100% - (var(--gap) * 1)) / 2);
}

.about {
  margin-bottom: 100px;
}

.about__btn {
  padding: 18px 38px;
  border: 3px solid #FF9900;
}

.about__btn:focus {
  background-color: var(--orange);
}

.about__btn:hover {
  background-color: var(--orange);
}

.about__btn:active {
  border: 2px solid var(--dark-orange);
  background-color: var(--dark-orange);
}

.about__left {
  position: relative;
  border-radius: 32px;
  overflow: hidden;
  background: url('../img/about-bg.png') no-repeat center / cover;
}

.about__shadow {
  position: absolute;
  align-items: center;
  bottom: 0;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.about__text {
  margin: 0;
  margin-right: 160px;
  font-weight: 700;
  color: var(--white);
}

.about__text_sm {
  margin-right: 0;
  font-weight: 400;
  color: var(--black);
}

.about__cards {
  padding: 65px 108px 65px 300px;
  border: 1px solid var(--white-gray);
  border-radius: 32px;
  background-repeat: no-repeat;
  background-position: 62px 62px;
}

.about__cards:not(:last-child) {
  margin-bottom: 28px;
}

.about__cards_coube {
  background-image: url('../img/about-cube.svg');
}

.about__cards_gear {
  background-image: url('../img/about-gear.svg');
}

.about__subtitle {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--black);
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--black);
}

.work {
  margin-bottom: 111px;
}

.work__title {
  margin: 0;
  margin-bottom: 50px;
}

.work__list {
  margin-bottom: 44px;
}

.work__right {
  display: flex;
  align-items: center;
}

.work__wrapper::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: calc((100% - (var(--gap) * 1)) / 2);
  border-radius: 32px;
  overflow: hidden;
  background: url('../img/work-office.png') no-repeat center / cover;
}

.work__one::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: calc((100% - (var(--gap) * 1)) / 2);
  border-radius: 32px;
  overflow: hidden;
  background: url('../img/work-office.png') no-repeat center / cover;
}

.work__two::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: calc((100% - (var(--gap) * 1)) / 2);
  border-radius: 32px;
  overflow: hidden;
  background: url('../img/work-two.png') no-repeat center / cover;
}

.work__three::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: calc((100% - (var(--gap) * 1)) / 2);
  border-radius: 32px;
  overflow: hidden;
  background: url('../img/work-three.png') no-repeat center / cover;
}

.work__four::after {
  content: "";
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: calc((100% - (var(--gap) * 1)) / 2);
  border-radius: 32px;
  overflow: hidden;
  background: url('../img/work-four.png') no-repeat center / cover;
}

.work__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--black);
}

.work__item:not(:last-child) {
  margin-right: 86px;
}

.work__link:focus {
  outline: 2px solid var(--orange);
  outline-offset: 2px;
}

.work__link:hover {
  color: var(--orange);
}

.work__link:active {
  outline: none;
  color: var(--dark-orange);
}

.work__link--active {
  color: var(--dark-orange);
}

.work__descr {
  display: none;
  margin: 0;
  margin-bottom: 18px;
  margin-right: 136px;
}

.work__descr--active {
  display: block;
}

.work__subtitle {
  display: none;
  margin: 0;
  margin-bottom: 8px;
}

.work__subtitle--active {
  display: block;
}

.work__more {
  padding: 20px 38px;
  margin-right: 32px;
  background-color: var(--orange);
}

.work__more:focus,
.work__more:hover {
  background-color: var(--light-orange);
}

.work__more:active {
  background-color: var(--dark-orange);
}

.work__contract {
  padding: 19px 37px;
  font-weight: 400;
  border: 1px solid var(--black);
  color: var(--black);
}

.work__contract:focus,
.work__contract:hover {
  border-color: var(--gray);
  background-color: var(--gray);
  color: var(--white)
}

.work__contract:active {
  background-color: var(--black);
  color: var(--white);
}

.faq {
  margin-bottom: 103px;
}

.faq__title {
  margin: 0;
  margin-bottom: 32px;
}

.faq__text {
  margin: 0;
  padding: 39px 0 39px;
}

.faq__item {
  flex-direction: column;
  position: relative;
}

.faq__wrapper {
  justify-content: space-between;
}

.faq__button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-top: 1px solid var(--white-gray);
  border-bottom: 1px solid var(--white-gray);
  border-collapse: collapse;
}

.faq__button:focus-visible {
  outline: none;
}

.faq__item:focus .faq__text {
  color: var(--orange);
}

.faq__item:hover .faq__text {
  color: var(--orange);
}

.faq__item button:focus::after,
.faq__item button:hover::after {
  border-color: var(--orange);
}

.faq__item button:active::after {
  border-color: var(--white-gray);
}

.faq__item button:focus ellipse,
.faq__item button:hover ellipse {
  fill: var(--orange);
}

.faq__item button:active ellipse {
  fill: var(--white-gray);
}

.faq__item button:focus path,
.faq__item button:hover path {
  fill: var(--white);
}

.faq__item button:active path {
  fill: var(--black);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: center;
  transform-origin: center;
}

.accordion__content {
  overflow: hidden;
  visibility: hidden;
  transition-property: height, visibility, margin-bottom, display;
  transition-timing-function: ease;
  width: 100%;
}

.accordion--active .accordion__content {
  visibility: visible;
}

.accordion__text {
  margin: 0;
  /* padding-right: 700px; */
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* ----footer---- */

.footer {
  background-color: var(--black);
}

.footer__container {
  display: flex;
  padding: 50px 75px;
}

.footer__left {
  margin-right: auto;
}

.footer__logo {
  margin-bottom: 16px;
}

.footer__list {
  margin-bottom: 90px;
}

.footer__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: var(--white-gray);
}

.footer__link:focus {
  outline: 2px solid var(--orange);
  outline-offset: 2px;
}

.footer__link:hover {
  color: var(--orange);
}

.footer__link:active {
  outline: none;
  color: var(--dark-orange);
}

.footer__icon:not(:last-child) {
  margin-right: 25px;
}

.footer__icon a:focus {
  outline: 2px solid var(--orange);
  outline-offset: 2px;
}

.footer__icon a:hover path {
  fill: var(--orange);
}

.footer__icon a:active {
  outline: none;
}

.footer__icon a:active path {
  fill: var(--dark-orange);
}

.form {
  flex-direction: column;
  width: 570px;
  margin-right: 236px;
}

.form input placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--white-gray)
}

.form__title {
  margin: 0;
  margin-bottom: 25px;
  color: var(--white-gray);
}

.form__content {
  margin-bottom: 25px;
  padding: 19px 24px;
  background-color: var(--dark-gray);
  color: var(--white);
  border-radius: 16px;
}

.form__content:focus,
.form__content:hover,
.form__content:active {
  background-color: var(--gray);
}

:active::-webkit-input-placeholder {
  color: var(--white);
}

.form__email {
  margin-bottom: 25px;
}

.form__textarea {
  margin-bottom: 29px;
}

.form__btn {
  padding: 19px 52px;
  margin-right: 14px;
  background-color: var(--orange);
}

.form__btn:focus,
.form__btn:hover {
  background-color: var(--light-orange);
}

.form__btn:active {
  background-color: var(--dark-orange);
}

.form__checkbox {
  align-items: center;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid var(--white-gray);
  border-radius: 2px;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;
}

.custom-checkbox:checked+label::before {
  background-image: url("../img/checkbox.svg");
}

.form__label {
  color: var(--white-gray);
}

.footer__descr {
  margin: 0;
  width: 363px;
  padding: 87px 0;
  color: var(--white-gray);
}

.form__title {
  margin-bottom: 25px;
}
